body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.hero {
    position: relative;
    background-image: url('img/run.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

#topBtn {
    display: none; /* 最初は非表示 */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(255, 204, 203, 0.8); /* 透明度を追加 */
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, opacity 0.5s; /* アニメーションを追加 */
    opacity: 0; /* 初期状態は透明 */
}

#topBtn:hover {
    background-color: rgba(255, 153, 153, 0.8); /* 透明度を追加 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#topBtn::before {
    content: "TOP ";
    color: white;
}

#topBtn::after {
    content: "▲";
    color: white;
    font-size: 12px;
    margin-left: 5px;
}
